html {
    height: 100%;
}

body {
    /*background-color: #3498DB*/
    margin: 0;
    height: 100%;
}

/*顶层logo、登录、音乐播放集成模块控制*/
header {
    width: 100%;
    height: 13%;
    background-color: #3498DB;
    /*background-image: linear-gradient(to right, #3498DB, rgb(14, 155, 187));渐变色设计*/
    margin: 0;
}

/*战忽局图片控制*/
.header_image1 {
    position: absolute;
    left: 0.5%;
    width: 6%;
    background-size: contain;
    height: auto;
    margin: 0.25% 0% 0% 0%;
    padding: 0;
}

/*交游天下图片控制*/
.header_image2 {
    position: absolute;
    margin: 0% 0% 1% 6%;
    padding: 0;
    width: 16%;
    background-size: contain;
    height: auto;
    top: -2%;
}

/*交游天下字体控制*/
.header_font {
    font-size: 1.8em;
    position: absolute;
    margin: 4% 0% 0% 6.6%;
    padding: 0;
    width: 30%;
}

/*音乐播放控制*/
audio {
    width: 15%;
    padding: 0;
    margin: 0;
    position: absolute;
    visibility: hidden;
}

/*导航栏菜单控制*/
.menu {
    width: 100%;
    height: auto;
    display: block;
    background-color: #FFA500;
    margin: 0;
    padding: 0;
}

/*导航栏菜单列表控制*/
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 84%;
}

/*导航栏菜单选项浮动方向设置*/
.menu ul li {
    float: left;
    width: 14%;
}

/*导航栏菜单选项控制*/
.menu li a {
    font-size: 1.5em;
    display: block;
    color: white;
    text-align: center;
    margin: 0;
    padding: 4% 1%;
    text-decoration: none;
}

/*导航栏选项鼠标移动效果*/
.menu li a:hover {
    background-color: #555;
    color: white;
}

/*当前选中状态*/
.menu li a:active {
    background-color: #3498DB;
}

/*工具栏菜单控制*/
.tool {
    width: 3%;
    display: block;
    background-color: rgba(170, 170, 170, 0.384);
    margin-top: 5%;
    margin-left: 97%;
    margin-right: 0;
    padding: 0;
    position: fixed;
}

/*工具栏菜单列表控制*/
.tool ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    height: 70%;
}

/*工具栏菜单列表图片控制*/
.tool ul li a img {
    width: 100%;
    height: 100%;
    padding: 40% 0%;
}

/*工具栏信息提示位置信息*/
.tip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

/*工具栏菜单列表触发前属性*/
.tip span {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    right:100%;
    top:30%;
}

/*工具栏菜单列表触发后属性*/
.tip:hover span{
    visibility: visible;
    opacity: 0;
    transition: opacity 2s;
}

#carousel {
    width: 80%;
    position: absolute;
    overflow: hidden;
    border-color: #3498DB;
    border-style: groove;
    border-width: 10px;
    position: relative;
    margin: 0% auto;
}

#carousel>ul {
    display: flex;
    position: absolute;
    padding: 0;
    margin: 0;
}

#carousel>ul>li {
    list-style: none;
}

#carousel>ul>li>img {
    width: 1400px;
    height:75%
}

/* 控制按钮的样式 */
#leftArrow,
#rightArrow {
    position: absolute;
    left: 5px;
    top: 43%;
    width: 45px;
    height: 60px;
    background-color: rgb(145, 145, 145);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    font-size: 20px;
    cursor: pointer;
}

/*左右按钮图片设置*/
#rightArrow  img{
   width:100%;
   height: 100%;
   position: absolute;
}
#leftArrow  img{
    width:100%;
    height: 100%;
 }

/*左右按钮调整*/
#leftArrow {
    left: auto;
    right: 5px;
}
#rightArrow {
    left: 5px;
    right: auto;
}

/*右下侧图片选择按钮*/
#sliderBtn {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

/*单个btm（好像是这个，名字忘了）按钮样式控制*/
.unitBtn {
    width: 10px;
    height: 10px;
    background-color: #eee;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

/*右下侧图片选择按钮状态*/
.active {
    background-color: #4C98F7;
}

/*板块标题字体控制*/
.font_size
{
    font-size: 2em;
    text-align: center;
    padding: 0;
    margin: 3% 0%;
}


.grid-container
{
    width: 100%;
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    grid-template-rows: 44.5% 44.5%;
    grid-gap: 0;
    margin: 0;
    padding: 0;
}

.grid-container>div{
    padding: 0;
    margin: 0;
    background-color: #3498DB;
    text-align: center;
    width:25%；
}

.grid-container>div>a>img{
    padding: 0;
    margin: 0;
    width:100%;
    height:100%;
    opacity: 0.75;
    display: block;
}

.grid-container>div>a:hover{
    opacity: 0;
}

.grid-container>div>p{
    color: #FFA500;
}

/*页脚控制信息*/
footer {
    position: relative;
    width: 100%;
    text-align: center;
    width:100%;
    height:auto;
    padding: 0;
    margin:10px 0;
}
